@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
	box-sizing: border-box;
}
body{
	 
    background-color: #dbdbdb;
	margin:0;
	padding:0;
	font-family:'Oxygen', sans-serif;
}

#social{
	background-color:#000000;
	color:white;
	height:50px;
	width: 100%;
	position:sticky;
	top:0;
	z-index: 1;
	font-size:18px;
	text-align:right;
	padding:15px;
}

#social>i{
	margin-right:15px;
}

#container{
	width:80%;
	margin:auto;
	height:auto;
}

section{
	width:auto;
	height:auto;
	background-color: #f1f1f1;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
	margin-top: 15px;
	overflow: auto;
}

nav{
	width:20%;
	float:left;
	margin-top:10px;
	height:auto;
}

nav ul{
	width:auto;
	height:100%;
	margin:0;
	padding:0;
}

nav li{
	list-style-type: none;
}

nav li a{
	height:50px;
	line-height: 50px;
	text-decoration: none;
	color:black;
	border-bottom: 1px solid #b4b4b4;
	padding-left: 20px;
	display: block;
}

nav li a:hover{
	color:white;
	background-color: #adadad;
}

i{
	margin-right: 10px;
}

main{
	float:left;
	height:auto;
	width:80%;
	padding:10px;
}

.icerik{
	width:45%;
	height:auto;
	display:inline-block;
	margin-right: 15px;
}
.rsm0{
	width:867px;
	height: 300px;
	box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
	margin-top: 10px;
	margin-left: 5px;
}
.rsm{
	width:100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-top: 10px;
	
	box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
	border-radius: 10px;
}


footer{
	width: 100%;
    height: 50px;
	background-color: black;
	color: white;
	line-height: 50px;
	text-align: center;
	box-shadow:0 2px 8px 2px rgba(20, 23, 28, .15);
}

h1{
	text-align: center;
	background-color: black;
	color: white;
	height: 50px;
	line-height: 50px;
	margin: 0 10px;
	border-radius: 10px;
	box-shadow:0 2px 8px 2px rgba(20, 23, 28, .15);
}

#hakRsm{
	width: 300px;
	height: 450px;
	float: left;
	border-radius: 10px;
	margin: 25px;
	margin-bottom: 10px;

}

.hakYazi{
	margin-right: 150px;
	font-size: 17px;
	font-family: Cambria;
	text-indent: 40px;


}

#hakRsm1{
	width: 250px;
	height: 200px;
	float: left;
	border-radius: 10px;
	margin: 25px;
	margin-bottom: 10px;
	
}
#hakRsm2{
	width: 250px;
	height: 200px;
	float: left;
	border-radius: 10px;
	margin: 25px;
	margin-bottom: 10px;
	margin-left: 100px;
}

.takYazi{
	font-family: Cambria;
	font-size: 17px;
}

.p{
	font-family: Cambria;
	font-size: 17px;
}

#form{
margin-right: 180px;
margin-top: 40px;
}

*{
	box-sizing: border-box;
} 
:root{
     --primary-color:#22254b;
     --secondary-color:#373b69;
 }

header{
	padding: 1rem;
	display:flex;
	justify-content:flex-end;
	

}

.search{
	background: transparent;
	border: 2px solid var(--secondary-color);
	border-radius: 50px;
	font-family: inherit;
	font-size:1rem;
	padding: .5rem 1rem;
	color: #fff;

}
.search::placeholder{
	color:#7378c5;
}
.searc:focus{
	outline: none;
	background: var(--primary-color);
}
.movie{
	width: 300px;
	margin: 1rem;
	background: var(--secondary-color);
	box-shadow: 0 4px 5px rgba(0,0,0, .2);
	position: relative;
	overflow: hidden;
	border-radius: 3px;
}
.movie img{
	width: 100%;
}
.movie-info{
	color: #eee;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: .5rem 1rem 1rem;
	letter-spacing: .5px;
}
.movie-info h3{
	margin-top: 0;
}
.movie-info span{
	background: var(--primary-color);
	padding: .25rem .5rem;
	border-radius: 3px;
	font-weight: bold;
}
.movie-info span.green{
	color: lightgreen;
}
.movie-info span.orange{
	color: orange;
}
.movie-info span.red{
	color: red;
}
.overview{
	background: #fff;
	padding: 2rem;
	position: absolute;
	top:0;
	bottom:0;
	right:0;
	max-height: 100%;
	transform: translateY(101%);
	transition: transform .3s ease-in;
}
.movie:hover .overview{
	transform: translateY(0);
}
#og{
	margin-top: 30px;
}
.sayfa{
	width: 700px;
	margin: 0 auto;
}
.sliderKonum{
    position: relative;
    width: 700px;
    height: 200px;
    overflow: hidden;
}
.img-bir{left: 0px;}
.img-iki{left: 700px;}
.img-uc{left: 1400px;}
.img-dort{left: 2100px;}
.img-bes{left: 2800px;}

.sliderKonum > .slider{
	position: absolute;
	left:0px;
	width: 2800px;
	height: 400px;
	-webkit-animation-duration: 10s;
	-webkit-animation-name: sliders;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-duration: 10s;
	-moz-animation-name: sliders;
	-moz-animation-iteration-count:infinite;
	-ms-animation-duration: 10s;
	-ms-animation-name: sliders;
	-ms-animation-iteration-count:infinite;
	animation-duration: 10s;
	animation-iteration-count:infinite;
  }
  @-webkit-keyframes sliders{
	0% {left:0px;}
	10% {left:0px;}
	20% {left:-700px;}
	30% {left:-700px;}
	40% {left:-1400px;}
	50% {left:-1400px;}
  }
  @-moz-keyframes sliders{
	0% {left:0px;}
	10% {left:0px;}
	20% {left:-700px;}
	30% {left:-700px;}
	40% {left:-1400px;}
	50% {left:-1400px;}
  }
  @-ms-keyframes sliders {
	0% {left:0px;}
	10% {left:0px;}
	20% {left:-700px;}
	30% {left:-700px;}
	40% {left:-1400px;}
	50% {left:-1400px;}
  }
  @keyframes sliders{
	0% {left:0px;}
	10% {left:0px;}
	20% {left:-700px;}
	30% {left:-700px;}
	40% {left:-1400px;}
	50% {left:-1400px;}
  }
  #shrm{
	  margin-top: 0px;
  }